<div class="container">
    <div class="row">
        <div class="col-12">
            <form>
                <h2 class="vermelho">Funcionários Cadastrados</h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Função</th>
                            <th>Empresa</th>
                            <th>Embarque</th>
                            <th>Desembarque</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let funcionario of funcionarios">
                            <td>{{ funcionario.nome }}</td>
                            <td>{{ funcionario.funcao }}</td>
                            <td>{{ funcionario.empresa }}</td>
                            <td>{{ funcionario.dataEmbarque | date: 'dd/MM/yyyy' }}</td>
                            <td><button type="button" class="btn btn-primary" (click)="desembarcar($index)">Desembarcar</button></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
