<div class="container">
    <div class="row">
        <div class="col-12">
            <form>
                <h2 class="vermelho">Funcionários Cadastrados</h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Função</th>
                            <th>Empresa</th>
                            <th>Embarque</th>
                            <th>Desembarque</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td>Alex Caminha Cambuy</td>
                            <td>Consultor TI</td>
                            <td>Halliburton</td>
                            <td>01/06/2018</td>
                            <td><button type="submit" class="btn btn-primary">Desembarcar</button></td>
                        </tr>
                        <tr>
                            <td>Alex Caminha Cambuy</td>
                            <td>Consultor TI</td>
                            <td>Halliburton</td>
                            <td>01/06/2018</td>
                            <td><button type="submit" class="btn btn-primary">Desembarcar</button></td>
                        </tr>
                        <tr>
                            <td>Alex Caminha Cambuy</td>
                            <td>Consultor TI</td>
                            <td>Halliburton</td>
                            <td>01/06/2018</td>
                            <td><button type="submit" class="btn btn-primary">Desembarcar</button></td>
                        </tr>

                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>