<div class="container">
    <div class="row">
        <div class="col-12">
            <form>
                <h2 class="vermelho">Embarque de Funcionário</h2>
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" aria-describedby="nomeHelp" placeholder="Insira o nome completo">
                </div>
                <button type="submit" class="btn btn-primary">Embarcar</button>
            </form>
        </div>
    </div>
</div>